body {
    font-family: "trirong", sans-serif;
}

section {
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
   
}
.hero-text {
    margin-left: 40px;
    margin-bottom: 400px;

    }

.hero {
    background-color: #2b2e41;
    height: 100vh;
    color: white;
    font-size: 40px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
footer {
    height: 500px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    width: 200px;
    text-decoration: none;
}
h1 {
    font-size: 40px;
    margin: 0;
}
p {
    font-size: 30px;
    margin: 0;
    font-weight: 100;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px ;
    

}
.button:hover {
    background-color: #ac00db;
}
.button:active {
    background-color: darkgrey;
    color: #ffe20800
    
}
.socials {
    padding-bottom: 400px;
}
.logo {
    height: 80px;
    margin: 30px;
}

.social {
    margin: 20px;
}